<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap">
		<!-- address_manager: Partials/FilterFields/CustomString.html:Bootstrap [begin] -->

		<div class="form-group address-custom-string">
			<label for="address-custom-string">
				<span class="number">{filterFieldIterator.cycle}</span> <span class="title"><f:translate key="tx_addressmanager_label.filter_custom_string_input" />:</span>
			</label>
			<f:form.textfield id="address-custom-string" name="customStringField" class="custom-string form-control input-sm"
							  additionalAttributes="{placeholder: '{f:translate(key: \'tx_addressmanager_placehoder.filter_custom_string_input\')}', data-order: filterFieldIterator.index, data-initial-value: customString}" />
		</div>

		<!-- address_manager: Partials/FilterFields/CustomString.html:Bootstrap [end] -->
	</f:section>
	<f:section name="Bootstrap4">
		<!-- address_manager: Partials/FilterFields/CustomString.html:Bootstrap4 [begin] -->

		<div class="form-group address-custom-string col-md-2">
			<label for="address-custom-string">
				<span class="number">{filterFieldIterator.cycle}</span> <span class="title"><f:translate key="tx_addressmanager_label.filter_custom_string_input" />:</span>
			</label>
			<f:form.textfield id="address-custom-string" name="customStringField" class="custom-string form-control form-control-sm"
							  additionalAttributes="{placeholder: '{f:translate(key: \'tx_addressmanager_placehoder.filter_custom_string_input\')}', data-order: filterFieldIterator.index, data-initial-value: customString}" />
		</div>

		<!-- address_manager: Partials/FilterFields/CustomString.html:Bootstrap4 [end] -->
	</f:section>
</div>
