<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap">
		<!-- address_manager: Partials/FilterFields/Group.html:Bootstrap [begin] -->

		<div class="form-group address-group-select">
			<label for="address-group-select">
				<span class="number">{filterFieldIterator.cycle}</span> <span class="title"><f:translate key="tx_addressmanager_label.filter_group_select" />:</span>
			</label>
			<f:form.select id="address-group-select" name="groupSelect" class="group-select form-control input-sm"
						   value="{group.uid}" optionValueField="uid" optionLabelField="title" options="{groupSelect}"
						   prependOptionLabel="{f:translate(key: 'tx_addressmanager_label.choose_group')}" prependOptionValue="0"
						   additionalAttributes="{data-order: filterFieldIterator.index, data-initial-value: group.uid}" />
		</div>

		<!-- address_manager: Partials/FilterFields/Group.html:Bootstrap [end] -->
	</f:section>
	<f:section name="Bootstrap4">
		<!-- address_manager: Partials/FilterFields/Group.html:Bootstrap4 [begin] -->

		<div class="form-group address-group-select col-md-3">
			<label for="address-group-select">
				<span class="number">{filterFieldIterator.cycle}</span> <span class="title"><f:translate key="tx_addressmanager_label.filter_group_select" />:</span>
			</label>
			<f:form.select id="address-group-select" name="groupSelect" class="group-select form-control form-control-sm"
						   value="{group.uid}" optionValueField="uid" optionLabelField="title" options="{groupSelect}"
						   prependOptionLabel="{f:translate(key: 'tx_addressmanager_label.choose_group')}" prependOptionValue="0"
						   additionalAttributes="{data-order: filterFieldIterator.index, data-initial-value: group.uid}" />
		</div>

		<!-- address_manager: Partials/FilterFields/Group.html:Bootstrap4 [end] -->
	</f:section>
</div>
