<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap">
		<!-- address_manager: Partials/FilterFields/Position.html:Bootstrap [begin] -->

		<div class="form-group address-position-select">
			<label for="address-position-select">
				<span class="number">{filterFieldIterator.cycle}</span> <span class="title"><f:translate key="tx_addressmanager_label.filter_position_select" />:</span>
			</label>
			<f:form.select id="address-position-select" name="positionSelect" class="position-select form-control input-sm"
						   additionalAttributes="{data-order: filterFieldIterator.index}" options="{positionSelect}"
						   value="{position.uid}" optionValueField="uid" optionLabelField="title"
						   prependOptionLabel="{f:translate(key: 'tx_addressmanager_label.choose_position')}" prependOptionValue="0" />
		</div>

		<!-- address_manager: Partials/FilterFields/Position.html:Bootstrap [end] -->
	</f:section>
	<f:section name="Bootstrap4">
		<!-- address_manager: Partials/FilterFields/Position.html:Bootstrap4 [begin] -->

		<div class="form-group address-position-select col-md-3">
			<label for="address-position-select">
				<span class="number">{filterFieldIterator.cycle}</span> <span class="title"><f:translate key="tx_addressmanager_label.filter_position_select" />:</span>
			</label>
			<f:form.select id="address-position-select" name="positionSelect" class="position-select form-control form-control-sm"
						   additionalAttributes="{data-order: filterFieldIterator.index}" options="{positionSelect}"
						   value="{position.uid}" optionValueField="uid" optionLabelField="title"
						   prependOptionLabel="{f:translate(key: 'tx_addressmanager_label.choose_position')}" prependOptionValue="0" />
		</div>

		<!-- address_manager: Partials/FilterFields/Position.html:Bootstrap4 [end] -->
	</f:section>
</div>
