<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Bootstrap">
		<!-- address_manager: Partials/FilterFields/Name.html:Bootstrap [begin] -->

		<div class="form-group address-search-submit">
			<button type="submit" class="btn btn-secondary btn-sm pull-right"><f:translate key="tx_addressmanager_label.filter_submit" /></button>
		</div>

		<!-- address_manager: Partials/FilterFields/Name.html:Bootstrap [end] -->
	</f:section>
	<f:section name="Bootstrap4">
		<!-- address_manager: Partials/FilterFields/Name.html:Bootstrap4 [begin] -->

		<div class="form-group address-search-submit col-md-12">
			<button type="submit" class="btn btn-secondary btn-sm pull-right"><f:translate key="tx_addressmanager_label.filter_submit" /></button>
		</div>

		<!-- address_manager: Partials/FilterFields/Name.html:Bootstrap4 [end] -->
	</f:section>
</div>
