// bootstrap includes & variables
@import "../../../../theme_bootstrap/Resources/Public/Contrib/Bootstrap/less/variables.less";
@gray: #444;
@link-color: red;

.ftm-address-manager {

	.address-list-wrapper {
		position: relative;
		min-height: 40px;
	}

  ul.address-list {
    list-style: none outside none;
    padding: 0;
    li {
      display: block;
      float: left;
      margin-left: 4%;
      width: 22%;
      &:nth-child(4n+1) {
        margin-left: 0;
      }
      .address-list-item {
        text-align: center;
        h4 {
          padding-top: 15px;
          margin-bottom: 6px;
        }
        .address-company {
          font-size: 0.9em;
          margin-bottom: 10px;
          opacity: 0.5;
        }
        .address-phone {
        }
        /* touch design */
        .address-image {
          .address-image-link {
            text-align: center;
            .address-image-link-wrapper {
              a {
                box-shadow: 0 0 0 2px @gray-lighter inset;
                display: inline-block;
                color: @gray;
                font-size: 18px;
                line-height: 40px;
                height: 40px;
                margin-top: 15px;
                width: 40px;
                &:hover {
                  color: @gray;
                }
              }
            }
          }
        }
        /*** Mail Link [start] ***/
        /* no-touch design */
        .no-touch & {
          .address-image {
            height: 0;
            padding-bottom: 100%;
            position: relative;
            overflow: hidden;
            .address-image-link {
              font-size: 0;
              background-color: @link-color;
              height: 100%;
              position: absolute;
              text-align: center;
              top: -100%;
              -webkit-transition: top 0.3s;
              transition: top 0.3s ease 0s;
              width: 100%;
              z-index: 10;
              &:before {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: middle;
              }
              .address-image-link-wrapper {
                display: inline-block;
                line-height: 0;
                padding: 8px 0;
                vertical-align: middle;
                a {
                  color: #fff;
                  box-shadow: 0 0 0 2px #fff inset;
                  font-size: 22px;
                  line-height: 50px;
                  height: 50px;
                  margin: 4px;
                  overflow: hidden;
                  position: relative;
                  width: 50px;
                  display: inline-block;
                  &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 0;
                    width: 100%;
                    -webkit-transition: height 0.3s;
                    transition: height 0.3s;
                    background-color: #fff;
                  }
                  &:hover {
                    color: @gray;
                    &:before {
                      height: 100%;
                    }
                  }
                  i {
                    position: relative;
                  }
                }
              }
            }
          }
          &:hover {
            .address-image-link {
              top: 0;
            }
          }
        }
        /*** Mail Link [end] ***/
      }
    }
  }
}

/* until Small Devices, Tablets  (768px - 1xp) */
@media only screen and (max-width : @screen-xs-max) {
  .ftm-address-manager {
    ul.address-list {
      li {
        float: none;
        margin: 0 auto 30px;
        width: auto;
        max-width: 350px;
		&:nth-child(4n+1) {
          margin: 0 auto 30px;
        }
      }
    }
  }
}

/**
 * ColorBox-Design
 */
#cboxLoadedContent {
    background:#fff;
    overflow: hidden !important;
    border: 1px solid #dadada;
    padding: 0;
}
.address-colorbox .image {
    margin: 4px;
}
.address-colorbox .footer {
    background-color: #ededed;
    height: 56px;
}
.address-colorbox .footer div.title {
    bottom: 18px;
    position: absolute;
    left: 24px;
}
.address-colorbox .footer div.email {
    bottom: 18px;
    position: absolute;
    right: 24px;
}

li.address-list-no-results {
	div {
		padding:20px;
		margin: 17px;
		width: 100%;
		font-size: 14px;
	}
}

.address-list-loading {
	//background-color: rgba(255, 255, 255, 0.8);
	display: table;
	height: 40px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99999;
	span {
		//display: table-cell;
		vertical-align: middle;
	}
}
.address-list-loading.hidden {
	display: none;
}
.address-list-loading.visible {
	display: table;
}
